$roboto-font-path: '~materialize-css/fonts/roboto/';
$fa-font-path: '~font-awesome/fonts';
@import '~materialize-css/sass/materialize';
@import '~font-awesome/scss/font-awesome';
@import '~ng-tags-input/build/ng-tags-input';
@import './helpers';



body {
  color: #333;
  background: WhiteSmoke;
}

#wrapper {
  @extend .container, .row;
  position: relative;
}

#main-header {
  @extend .col, .s5, .push-s7;

  h1 {
    position: relative;
    padding: 0 100px 10px 160px;
    font-size: 3em;
    border-bottom: 3px solid #333;

    &:before {
      position: absolute;
      bottom: 10px;
      left: 0;
      content: '';
      display: block;
      width: 140px;
      height: 140px;
      background: url('../images/laptop-friendly.png') left center no-repeat;
      background-size: 140px;
    }
  }
}

#places-listing {
  @extend .collection, .col, .s5;
  clear: left;
  background: white;

  article {
    @extend .collection-item, .avatar;
    transition: all 2s linear;
    cursor: pointer;
    padding-left: 120px;

    img {
      @extend .circle;
      top: 20px;
      left: 20px;
      width: 80px;
      height: auto;
    }

    h3 {
      margin-bottom: 0;
      font-size: 1.8em;
    }

    &:hover {
      @extend .orange, .lighten-3;
      transition: all .2s linear;
    }
  }
}

#place-details {
  position: absolute;
  right: 0;
  padding: 2em;
  width: 58%;
  min-height: 100vh;
  background: white;

  iframe {
    width: 100%;
    height: 250px;
  }

  ul.facilities {
    li {
      display: inline-block;
      margin-bottom: 1em;
      width: 16%;
    }
  }
}
