<div id="home-wrapper">
  <user user="$ctrl.user"></user>

  <button class="login"
  ng-if="$ctrl.user == null"
  ng-click="$ctrl.loginModal.open()"
  >Login</button>

  <button class="create"
  ng-if="$ctrl.user != null"
  ng-click="$ctrl.placeFormModal.open()"
  >Add new place</button>

  <login-modal
  login-modal-ctrl="$ctrl.loginModal"
  ></login-modal>

  <places on-place-selected="$ctrl.selectPlace($place)"></places>

  <place-details place="$ctrl.selectedPlace"></place-details>

  <place-form-modal controller="$ctrl.placeFormModal"></place-form-modal>
</div>
