<form name="formCtrl" id="place-form" on-submit="$ctrl.submit()">
  <div class="input">
    <label for="place-form-name">Name</label>
    <input name="name" id="place-form-name" ng-model="$ctrl.place.name" />
  </div>

  <div class="input">
    <label for="place-form-address">Address</label>
    <input name="address" id="place-form-address" ng-model="$ctrl.place.address" />
  </div>

  <div class="input">
    <label for="place-form-description">Description</label>
    <textarea name="description" id="place-form-description" ng-model="$ctrl.place.description"></textarea>
  </div>

  <div class="input">
    <label for="place-form-facilities">Facilities</label>
    <tags-input ng-model="$ctrl.place.facilities" id="place-form-facilities" add-from-autocomplete-only="true">
      <auto-complete source="$ctrl.facilities()"></auto-complete>
    </tags-input>
  </div>

  <div class="buttons">
    <button class="save">Save</button>
  </div>
</form>
